@charset "UTF-8";

body {
  flex-flow: column nowrap;
  width: 80%;
  max-width: 1200px;
  margin: auto 0;
}

@media (min-width:768px){
  body {
    flex-flow: row wrap;
    
  }
}

@media (min-width: 960px){
  body {
    position: relative;
    width: 90%
  }
}